[Unit]
Description=Mattermost
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory={{ mattermost_directory }}/bin
User={{ mattermost_sysuser }}
ExecStart={{ mattermost_directory }}/bin/platform
PIDFile=/var/spool/mattermost/pid/master.pid
Requires=

[Install]
WantedBy=multi-user.target
